spring:
  datasource:
    url: jdbc:postgresql://prod-host:5432/jobportal
    username: prod_user
    password: prod_password
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update

