# Application Configuration

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/mydb
    username: myuser
    password: mypassword
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
    properties:
      hibernate:
        format_sql: true

# Additional Settings

logging:
  level:
    org:
      hibernate:
        SQL: DEBUG
        type:
          AbstractBatch: TRACE
        type:
          JdbcBatch: TRACE
