name: JobPortal CI Pipeline

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Java 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Grant execute permission to mvnw
        run: chmod +x mvnw

      - name: Build with Maven (use in-memory DB)
        run: |
          ./mvnw clean install -DskipTests \
            -Dspring.profiles.active=prod \
            -Dspring.datasource.url=jdbc:h2:mem:testdb \
            -Dspring.jpa.hibernate.ddl-auto=none




